
 <div class="panel panel-default">		
 <meta charset="utf-8" />			
                        <div class="panel-body">
                            <div class="table-responsive table-overflow">
                                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
									<div class="row">
																			
										<div class="pull-right right-offset">
											<div id="dataTables-example_filter" class="dataTables_filter">
												<label>
													搜索:
													<input type="search" class="form-control input-sm" aria-controls="dataTables-example">
												</label>
											</div>
										</div>
									</div>
									<table class="table table-bordered no-footer" >
                                    <thead>
                                        <tr role="row">
											<th >
												申请人
											</th>
											
											<th >
												电话
											</th>
											
											<th>
												邮箱
											</th>
											<th >
												要加入的机构
											</th>											
											<th >
												操作
											</th>
											
										</tr>
                                    </thead>
                                    <tbody id="table">
									</tbody>
                                </table>
									<div class="row">
										<div class="col-sm-6">
											<div class="dataTables_length" style="padding-top: 20px" id="dataTables-example_length">
												<label>
													<select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
														<option value="10">
															10
														</option>
														<option value="25">
															25
														</option>
														<option value="50">
															50
														</option>
														<option value="100">
															100
														</option>
													</select> 
													条/页
												</label>
											</div>
										</div>
										<div class="col-sm-6 text-right">
											<div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
												<ul class="pagination">
													<li class="paginate_button" aria-controls="dataTables-example" tabindex="0" >
														<a href="#">首页</a>
													</li>	
													<li class="paginate_button" aria-controls="dataTables-example" tabindex="0" >
														<a href="#">上一页</a>
													</li>												
													<li class="paginate_button" aria-controls="dataTables-example" tabindex="0" >
														<input class="page-code" type="number" class="g-input">													
													</li>
													<li class="paginate_button" aria-controls="dataTables-example" tabindex="0" >
														<a href="#">下一页</a>
													</li>	
													<li class="paginate_button next" aria-controls="dataTables-example" tabindex="0">
														<a href="#">尾页</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
<script src="/group_project/yara/js/staffApplys.js">


</script>
