<div class="well">
	      <input type="hidden" class="form-control" id="staffId" placeholder="example@qq.com">
	<div class="form-group" style="padding-left: 10px;">
		<h1>基础数据</h1>
	</div>
	<div class="line">
	</div>
	<form class="form-horizontal">
	  <div class="form-group">
	    <label class="col-sm-2 control-label">名称</label>
	    <div class="col-sm-10">
	      <p class="form-control-static" id="name">我的世界</p>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-2 control-label">邮箱</label>
	    <div class="col-sm-6">
	      <input type="email" class="form-control" id="email" placeholder="example@qq.com">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-2 control-label">电话</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="phone" placeholder="仅限大陆电话">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-2 control-label">所属机构</label>
	    <div class="col-sm-6">
	      <input type="trainName" class="form-control" id="trainName" placeholder="机构名称">
	    </div>
	  </div>
	  <div class="btn-group col-sm-offset-1" style="padding-left: 9%;">
	    	<span class="btn btn-info" onclick="update()">保存</span>
	    	<span class="btn btn-default" onclick="back()">取消</span>
	  </div>
	</form>
</div>
<script src="/group_project/yara/js/staffEditForm.js"></script>