<li>
							<a href="#" type="parent">
							<i class="glyphicon glyphicon-list-alt"></i> 组织管理<span class="glyphicon glyphicon-menu-right pull-right"></span></a>
							<ul class="nav nav-second-level">
								<li id="5">
									<a href="#" state="/tables/trains.html" >机构管理</a>
								</li>
								<li id="7">
									<a href="#">人员管理</a>
								</li>
								<li id="6">
									<a href="#"  state="/tables/mans.html">学员管理</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" type="parent"><i class="glyphicon glyphicon-tags"></i> 申请管理<span class="glyphicon glyphicon-menu-right pull-right"></span></a>
							<ul class="nav nav-second-level">
								<li id="13">
									<a href="#" state="/tables/staffapplys.html">学员申请</a>
								</li>
								<li id="">
									<a href="#">离园申请</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>