<div id="page-wrapper">
	<div id="page-inner">
		<!-- /. ROW  -->
	<div>
		<!--左边，快速导航+主页-->
		<div class="col-md-9">
			<!--快速导航-->
			<div class="row">
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="board">
						<div class="panel panel-primary">
							<a href="#">我要申请<img src="img/jsj.jpg" height="50" width="80" /></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="board">
						<div class="panel panel-primary">
							<a href="#">我的机构<img src="img/jsj.jpg" height="50" width="80" /></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="board">
						<div class="panel panel-primary">
							<a href="#">个人信息<img src="img/jsj.jpg" height="50" width="80" /></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="board">
						<div class="panel panel-primary">
							<a href="#">我的消息<img src="img/jsj.jpg" height="50" width="80" /></a>
						</div>
					</div>
				</div>
	
			</div>
			<!--主页-->
	
			<div class="panel panel-default">
				<div class="panel-heading">
					Bar Chart Example
				</div>
				<div class="panel-body">
					<div id="morris-bar-chart"></div>
				</div>
	
			</div>
		</div>
	</div>
	<!--右边，列表+未处理消息-->
	<div class="col-md-3">
		<!--列表-->
		<div class="table-bordered">
			<h6>列表</h6>
			<ul>
				<li>
					<a href="#">空</a>
				</li><br />
				<li>
					<a href="#">空 </a>
				</li><br />
				<li>
					<a href="#">空</a>
				</li><br />
			</ul>
		</div>
		<!--未处理消息-->
		<div class="table-bordered">
			<h6>未处理的消息</h6>
			<ul>
				<li>
					<a href="#">空</a>
				</li><br />
				<li>
					<a href="#">空 </a>
				</li><br />
				<li>
					<a href="#">空</a>
				</li><br />
			</ul </div>
		</div>
</div>