<link href="/group_project/framework/jqGrid/jqgrid/css/ui.jqgrid.css">
<link href="/group_project/framework/jqGrid/jqgrid/css/css/cupertino/jquery-ui-1.8.16.custom.css">
<div id="mainTable">
	<table id="list2" class="table">
	</table> 
	<div id="pager2"></div>
</div>
<script src="/group_project/framework/jqGrid/js/jquery-1.7.1.js" type="text/javascript"></script>
<script src="/group_project/framework/jqGrid/jqgrid/js/jquery.jqGrid.src.js" type="text/javascript"></script>
<script src="/group_project/framework/jqGrid/js/index.js" type="text/javascript"></script>
