 <div class="col-md-8">
	<div class="page-header">
			<lable class="label label-info">常用功能</lable>
	      <div class="polt">
		      	<div class="short-item"  >
			      		<i class="glyphicon glyphicon-file" style="font-size:30px;">
			      		</i>
			      		<span class="span">报表管理</span>
		      		<div>
	      		</div>
	      </div>
	      	
	      	<div class="short-item" onclick="gotoA('/group_project/yara/view/tables/staffapplys.html')" >
	      		<i class="glyphicon glyphicon-road" style="font-size:30px;" >
			      </i>
	      		<span class="span">学员申请管理</span>
	      	</div>
	      	
	      	<div class="short-item" onclick="gotoA('/group_project/yara/view/tables/mans.html')">
	      		<i class="glyphicon glyphicon-user" style="font-size:30px;">
			      		</i>
			  <span class="span">学员管理</span>
	      	</div>
		  </div>
		  <label class="label label-info">报表统计</label>
	      <div class="polt">
	           <div id="main" style="width: 600px;height:400px;"></div> 
	      </div>
	</div>
 </div>
	 
 <div class="col-md-4">
	<div class="page-header">
		<label class="label label-info">报表</label>
	      <div class="polt">
	      	<a>更多</a>
          	<ul class="list-group">
			  <li class="list-group-item"><a>Cras justo odio</a><i class="pull-right">2017年-4月-3日</i></li>
			  <li class="list-group-item"><a>Cras justo odio</a><i class="pull-right">2017年-4月-3日</i></li>
			  <li class="list-group-item"><a>Cras justo odio</a><i class="pull-right">2017年-4月-3日</i></li>
			  <li class="list-group-item"><a>Cras justo odio</a><i class="pull-right">2017年-4月-3日</i></li>
			  <li class="list-group-item"><a>Cras justo odio</a><i class="pull-right">2017年-4月-3日</i></li>
			</ul>
	      </div>
	      <label class="label label-info">消息</label>
	      <div class="polt">
	      	<a onclick="gotoHtml('/group_project/WebRoot/yara/view/tables/staffapplys.html')">更多</a>
	         <ul class="list-group">
			  <li class="list-group-item"><a>一条新的申请</a><i class="pull-right">2017年-4月-3日</i></li>
			  <li class="list-group-item"><a>一条新的申请</a><i class="pull-right">2017年-4月-3日</i></li>
			  <li class="list-group-item"><a>一条新的申请</a><i class="pull-right">2017年-4月-3日</i></li>
			  <li class="list-group-item"><a>一条新的申请</a><i class="pull-right">2017年-4月-3日</i></li>
			  <li class="list-group-item"><a>一条新的申请</a><i class="pull-right">2017年-4月-3日</i></li>
			</ul>
	      </div>
	</div>
 </div>
 <script src="/group_project/yara/js/manage.js"></script>