<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="" name="description" />
		<meta content="webthemez" name="author" />
		<title>园区管理系统</title>
		<!-- Bootstrap Styles-->
		<link href="/group_project/framework/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
		<link href="/group_project/framework/bootstrap/css/font-awesome.css" rel="stylesheet" />
		<link href="/group_project/framework/bootstrap/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
		<!-- Custom Styles-->
		<link href="/group_project/framework/bootstrap/css/custom-styles.css" rel="stylesheet" />
		<!-- Google Fonts-->
		<link href="/group_project/framework/bootstrap/css/openSans.css" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="/group_project/framework/bootstrap/js/Lightweight-Chart/cssCharts.css">
		<link rel="stylesheet" href="/group_project/yara/css/common.css">
		<link rel="stylesheet" href="/group_project/framework/bootstrap/css/docs.css">
	</head>

	<body>
		<div id="wrapper">
			<nav class="navbar navbar-default top-navbar" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
	                    <span class="sr-only">这是什么</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
                	</button>
					<a class="navbar-brand" href="#"><strong><i class="glyphicon glyphicon-plane"></i> 园区管理系统</strong></a>
					<span id="sideNav" href="" style="display: block;">
						<i class="glyphicon glyphicon-menu-right" style="font-size: 20px;"></i>
					</span>
				</div>
				<ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" style="margin-right:40px;">
                      <i class="glyphicon glyphicon-user" id="loginUser"> 超级管理员 </i> <i class="glyphicon glyphicon-cog"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#" onclick="gotoHtml('/group_project/yara/view/staffhtml/MyInfo.html')">
                                <div>
                                    <strong>个人信息</strong>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>修改密码</strong>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" onclick="loginOut()">
                                <div>
                                    <strong>退出登录</strong>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
               		 </li>
                    </ul>
                </li>
            </ul>
			</nav>
			<!--/. NAV TOP  -->
			<nav class="navbar-default navbar-side">
				<div class="sidebar-collapse">
					<ul class="nav" id="main-menu">
						<li>
							<a href="#" type="parent">
							<i class="glyphicon glyphicon-list-alt"></i> 组织管理<span class="glyphicon glyphicon-menu-right pull-right"></span></a>
							<ul class="nav nav-second-level">
								<li class="showModule()" id="4">
									<a href="#">园区管理</a>
								</li>
								<li id="5">
									<a href="#" state="/tables/trains.html" >机构管理</a>
								</li>
								<li id="7">
									<a href="#">人员管理</a>
								</li>
								<li id="6">
									<a href="#"  state="/tables/mans.html">学员管理</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" type="parent"><i class="glyphicon glyphicon-cog"></i>
							 系统管理<span class="glyphicon glyphicon-menu-right pull-right"></span></a>
							<ul class="nav nav-second-level">
								<li id="8">
									<a href="#">模块管理</a>
								</li>
								<li id="9">
									<a href="#">权限管理</a>
								</li>
								<li id="10">
									<a href="#">操作员管理</a>
								</li>
								<li id="11">
									<a href="#">角色管理</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" type="parent"><i class="glyphicon glyphicon-tags"></i> 申请管理<span class="glyphicon glyphicon-menu-right pull-right"></span></a>
							<ul class="nav nav-second-level">
								<li id="12">
									<a href="#" state="/tables/trainsVerify.html">机构申请</a>
								</li>
								<li id="13">
									<a href="#" state="/tables/staffapplys.html">学员申请</a>
								</li>
								<li id="">
									<a href="#">离园申请</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
				<div id="page-wrapper">
					<div>
						<ul  id=tabs class="nav nav-tabs">
						  <li class="active">
						    <a href="#" onclick="gotoHtml('/group_project/yara/view/homepage/welcome_manager.html')">首页</a>
						  </li>
						</ul>
					</div>
					<div id="content">
					</div>
				</div>
			</div>
			
			
			<footer>
				<p>Copyright &copy; 2016.Company name All rights reserved.
					<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
				</p>
			</footer>
				</div>
			</div>
		<script src="/group_project/framework/bootstrap/js/jquery-1.10.2.js"></script>
		<script src="/group_project/framework/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script src="/group_project/framework/bootstrap/js/jquery.metisMenu.js"></script>
		<script src="/group_project/framework/bootstrap/js/morris/raphael-2.1.0.min.js"></script>
		<script src="/group_project/framework/bootstrap/js/morris/morris.js"></script>
		<script src="/group_project/framework/bootstrap/js/easypiechart.js"></script>
		<script src="/group_project/framework/bootstrap/js/easypiechart-data.js"></script>
		<script src="/group_project/framework/bootstrap/js/Lightweight-Chart/jquery.chart.js"></script>
		<script src="/group_project/framework/bootstrap/js/custom-scripts.js"></script>
		<script type="text/javascript" src="/group_project/framework/bootstrap/js/Chart.min.js"></script>
		<script type="text/javascript" src="/group_project/framework/echat/echarts.js"></script>
	</body>
</html>