<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="" name="description" />
		<meta content="webthemez" name="author" />
		<title>园区管理系统</title>
		<!-- Bootstrap Styles-->
		<link href="/group_project/framework/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
		<link href="/group_project/framework/bootstrap/css/font-awesome.css" rel="stylesheet" />
		<link href="/group_project/framework/bootstrap/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
		<!-- Custom Styles-->
		<link href="/group_project/framework/bootstrap/css/custom-styles.css" rel="stylesheet" />
		<!-- Google Fonts-->
		<link href="/group_project/framework/bootstrap/css/openSans.css" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="/group_project/framework/bootstrap/js/Lightweight-Chart/cssCharts.css">
	</head>

	<body>
		<div id="wrapper">
			<nav class="navbar navbar-default top-navbar" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
	                    <span class="sr-only">这是什么</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
                	</button>
					<a class="navbar-brand" href="index.html"><strong><i class="glyphicon glyphicon-plane"></i> 重理园区管理系统</strong></a>
					<span id="sideNav" href="" style="display: block;">
						<i class="glyphicon glyphicon-menu-right" style="font-size: 20px;"></i>
					</span>
				</div>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							<i class="glyphicon glyphicon-log-out"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-messages">
							<li>
								<a href="#">
									<div>
										<strong>John Doe</strong>
										<span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
									</div>
									<div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<strong>John Smith</strong>
										<span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
									</div>
									<div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<strong>John Smith</strong>
										<span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
									</div>
									<div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="text-center" href="#">
									<strong>Read All Messages</strong>
									<i class="glyphicon glyphicon-log-out"></i>
								</a>
							</li>
						</ul>
						<!-- /.dropdown-messages -->
					</li>
					
					<!-- /.dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							<i class="glyphicon glyphicon-log-out"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a href="#">
									<div>
										<i class="fa fa-comment fa-fw"></i> New Comment
										<span class="pull-right text-muted small">4 min</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<i class="fa fa-twitter fa-fw"></i> 3 New Followers
										<span class="pull-right text-muted small">12 min</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<i class="fa fa-envelope fa-fw"></i> Message Sent
										<span class="pull-right text-muted small">4 min</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<i class="fa fa-tasks fa-fw"></i> New Task
										<span class="pull-right text-muted small">4 min</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<i class="fa fa-upload fa-fw"></i> Server Rebooted
										<span class="pull-right text-muted small">4 min</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="text-center" href="#">
									<strong>See All Alerts</strong>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
						</ul>
						<!-- /.dropdown-alerts -->
					</li>
					
				</ul>
			</nav>
			<!--/. NAV TOP  -->
			<nav class="navbar-default navbar-side">
				<div class="sidebar-collapse">
					<ul class="nav" id="main-menu">
						<li>
							<a href="#"><i class="glyphicon glyphicon-bookmark" style="color: white;"></i> 我的信息<span class="glyphicon glyphicon-menu-right"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="#">基本信息</a>
								</li>
								<li>
									<a href="#">我的权限</a>
								</li>
								<li>
									<a href="#">我的机构</a>
								</li>
								<li>
									<a href="#">我的申请</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-sitemap"></i> 组织管理<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="#">园区管理</a>
								</li>
								<li>
									<a href="#">机构管理</a>
								</li>
								<li>
									<a href="#">人员管理</a>
								</li>
								<li>
									<a href="#">学员管理</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-sitemap"></i> 系统管理<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="#">模块管理</a>
								</li>
								<li>
									<a href="#">报表管理</a>
								</li>
								<li>
									<a href="#">权限管理</a>
								</li>
								<li>
									<a href="#">功能点管理</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-sitemap"></i> 申请管理<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="#">机构申请</a>
								</li>
								<li>
									<a href="#">学员申请</a>
								</li>
								<li>
									<a href="#">离园申请</a>
								</li>
								<li>
									<a href="#">申请表管理<span class="fa arrow"></span></a>
									<ul class="nav nav-third-level">
										<li>
											<a href="#">机构申请表</a>
										</li>
										<li>
											<a href="#">学员申请表</a>
										</li>
										<li>
											<a href="#">离园申请表</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			
			<div id="content">
				
			</div>
			
			
			<footer>
				<p>Copyright &copy; 2016.Company name All rights reserved.
					<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
				</p>
			</footer>
				</div>
				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->
		<!-- JS Scripts-->
		<!-- jQuery Js -->
		<script src="/group_project/framework/bootstrap/js/jquery-1.10.2.js"></script>
		<!-- Bootstrap Js -->
		<script src="/group_project/framework/bootstrap-3.3.7/js/bootstrap.min.js"></script>

		<!-- Metis Menu Js -->
		<script src="/group_project/framework/bootstrap/js/jquery.metisMenu.js"></script>
		<!-- Morris Chart Js -->
		<script src="/group_project/framework/bootstrap/js/morris/raphael-2.1.0.min.js"></script>
		<script src="/group_project/framework/bootstrap/js/morris/morris.js"></script>

		<script src="/group_project/framework/bootstrap/js/easypiechart.js"></script>
		<script src="/group_project/framework/bootstrap/js/easypiechart-data.js"></script>

		<script src="/group_project/framework/bootstrap/js/Lightweight-Chart/jquery.chart.js"></script>

		<!-- Custom Js -->
		<script src="/group_project/framework/bootstrap/js/custom-scripts.js"></script>

		<!-- Chart Js -->
		<script type="text/javascript" src="/group_project/framework/bootstrap/js/Chart.min.js"></script>
	</body>

</html>